---
http_interactions:
- request:
    method: put
    uri: https://api.mercadopago.com/preapproval/561880ec6d97419f9b69b816d0e98674?access_token=APP_USR-<CLIENT-ID>-1234567
    body:
      encoding: UTF-8
      string: '{"status":"cancelled"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mlapi-Version:
      - 2.0.96
      Etag:
      - 22524093aeead50e9c75e467daa402a0
      X-Libra-Upstreamhost:
      - 172.16.161.224
    body:
      encoding: UTF-8
      string: '{"id":"561880ec6d97419f9b69b816d0e98674","payer_id":127044776,"payer_email":"buyer@email.com","back_url":"http://www.example.com/payment_complete","collector_id":64475662,"application_id":"<CLIENT-ID>","status":"cancelled","reason":"reason
        text","external_reference":"order_id 1234","date_created":"2016-04-25T14:22:58.644-04:00","last_modified":"2016-04-25T14:22:59.920-04:00","auto_recurring":{"frequency":1,"frequency_type":"months","transaction_amount":12.99,"currency_id":"ARS"}}'
  recorded_at: Mon, 25 Apr 2016 18:23:00 GMT
recorded_with: VCR 3.0.1
