---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT-ID>&client_secret=<CLIENT-SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - ea81c1fa59f6b789c1d7811bb3497072
      X-Libra-Upstreamhost:
      - 172.16.161.224
    body:
      encoding: UTF-8
      string: '{"access_token":"APP_USR-<CLIENT-ID>-1234567","refresh_token":"TG-2345e6rtyughj7city8d3-1234567","live_mode":true,"user_id":1234567,"token_type":"bearer","expires_in":21600,"scope":"offline_access
        read write"}'
  recorded_at: Mon, 25 Apr 2016 18:27:43 GMT
recorded_with: VCR 3.0.1
