---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT-ID>&client_secret=<CLIENT-SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - 117072c3d17a4c57ec53e81a49ccc340
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"APP_USR-<CLIENT-ID>-101217-d6e629925b4a85db8fd187bf6634a763__E_G__-64475662","refresh_token":"TG-59dfd902e4b00c9296aab2da-64475662","live_mode":true,"user_id":64475662,"token_type":"bearer","expires_in":21600,"scope":"offline_access
        read write"}'
  recorded_at: Thu, 12 Oct 2017 21:05:06 GMT
recorded_with: VCR 3.0.3
