---
http_interactions:
- request:
    method: get
    uri: https://api.mercadopago.com/collections/search?access_token=APP_USR-<CLIENT-ID>-101217-d6e629925b4a85db8fd187bf6634a763__E_G__-64475662&status=refunded
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Version:
      - '1'
      Etag:
      - 8fdbad2ea576655d1aa99aa1f992a518
    body:
      encoding: ASCII-8BIT
      string: '{"paging":{"total":73,"limit":30,"offset":0},"results":[{"collection":{"id":2759844014,"site_id":"MLA","date_created":"2017-05-29T14:40:32.000-04:00","date_approved":"2017-05-29T14:40:32.000-04:00","last_modified":"2017-05-29T14:42:35.000-04:00","money_release_date":"2017-06-12T14:40:32.000-04:00","operation_type":"regular_payment","collector_id":64475662,"sponsor_id":null,"payer":{"nickname":"@181609902","first_name":null,"last_name":"ignaciobertotti","phone":{"area_code":null,"number":null,"extension":null},"email":"ignaciobertotti@gmail.com","id":181609902,"identification":{"type":null,"number":null}},"external_reference":null,"merchant_order_id":506859964,"reason":"Pago
        OmbuShop","currency_id":"ARS","transaction_amount":150,"total_paid_amount":150,"shipping_cost":0,"account_money_amount":0,"mercadopago_fee":8.27,"net_received_amount":141.73,"marketplace_fee":null,"coupon_id":null,"coupon_amount":0,"coupon_fee":null,"finance_fee":0,"status":"refunded","status_detail":"refunded","status_code":"0","released":"yes","payment_type":"credit_card","installments":1,"installment_amount":150,"deferred_period":null,"cardholder":{"name":"ignacio
        p bertotti","identification":{"type":"DNI","number":"38292836"}},"statement_descriptor":"WWW.MERCADOPAGO.COM","transaction_order_id":null,"marketplace":"NONE","tags":[],"refunds":[{"id":353967913,"amount":150,"date_created":"2017-05-29T14:42:35.644-04:00","metadata":{},"collection_id":2759844014,"movement_id":12223633406}],"amount_refunded":150,"bank_transfer_detail":{"id":null,"transaction_id":null,"financial_institution_description":null},"notification_url":null,"internal_metadata":{}}},{"collection":{"id":2761875539,"site_id":"MLA","date_created":"2017-05-30T10:15:23.000-04:00","date_approved":"2017-05-30T10:15:22.000-04:00","last_modified":"2017-05-30T10:20:16.000-04:00","money_release_date":"2017-06-13T10:15:22.000-04:00","operation_type":"regular_payment","collector_id":64475662,"sponsor_id":null,"payer":{"nickname":"IGNACIOBERTOTTI","first_name":"Ignacio","last_name":"Bertotti","phone":{"area_code":null,"number":"47752674","extension":null},"email":"ignacio@ombushop.c[...]
- request:
    method: get
    uri: https://api.mercadopago.com/collections/search?access_token=APP_USR-<CLIENT-ID>-101217-d6e629925b4a85db8fd187bf6634a763__E_G__-64475662&offset=30&status=refunded
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Version:
      - '1'
      Etag:
      - c6ebb80caabfdae48fb601167fd27098
    body:
      encoding: ASCII-8BIT
      string: '{"paging":{"total":3,"limit":30,"offset":30},"results":[]}'
  recorded_at: Thu, 12 Oct 2017 21:05:09 GMT
- request:
    method: get
    uri: https://api.mercadopago.com/collections/search?access_token=APP_USR-<CLIENT-ID>-101217-d6e629925b4a85db8fd187bf6634a763__E_G__-64475662&offset=60&status=refunded
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Version:
      - '1'
      Etag:
      - c36602d9bcd21ce1521315dd36c054be
    body:
      encoding: ASCII-8BIT
      string: '{"paging":{"total":3,"limit":30,"offset":60},"results":[]}'
  recorded_at: Thu, 12 Oct 2017 21:05:10 GMT
recorded_with: VCR 3.0.3
