---
http_interactions:
- request:
    method: get
    uri: https://api.mercadopago.com/collections/search?access_token=APP_USR-<CLIENT-ID>-101217-d6e629925b4a85db8fd187bf6634a763__E_G__-64475662&status=refunded
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Version:
      - '1'
      Etag:
      - 8fdbad2ea576655d1aa99aa1f992a518
    body:
      encoding: ASCII-8BIT
      string: '{"paging":{"total":73,"limit":30,"offset":0},"results":[{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":2759844123}},{"collection":{"id":27598[...]
- request:
    method: get
    uri: https://api.mercadopago.com/collections/search?access_token=APP_USR-<CLIENT-ID>-101217-d6e629925b4a85db8fd187bf6634a763__E_G__-64475662&offset=30&status=refunded
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Version:
      - '1'
      Etag:
      - c6ebb80caabfdae48fb601167fd27098
    body:
      encoding: ASCII-8BIT
      string: '{"paging":{"total":3,"limit":30,"offset":30},"results":[]}'
  recorded_at: Thu, 12 Oct 2017 21:05:09 GMT
- request:
    method: get
    uri: https://api.mercadopago.com/collections/search?access_token=APP_USR-<CLIENT-ID>-101217-d6e629925b4a85db8fd187bf6634a763__E_G__-64475662&offset=60&status=refunded
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Version:
      - '1'
      Etag:
      - c36602d9bcd21ce1521315dd36c054be
    body:
      encoding: ASCII-8BIT
      string: '{"paging":{"total":3,"limit":30,"offset":60},"results":[]}'
  recorded_at: Thu, 12 Oct 2017 21:05:10 GMT
recorded_with: VCR 3.0.3
