---
http_interactions:
- request:
    method: get
    uri: https://api.mercadopago.com/collections/search?access_token=APP_USR-<CLIENT-ID>-101217-d6e629925b4a85db8fd187bf6634a763__E_G__-64475662&status=refunded
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: '{"message":"Malformed access_token: APP_USR-<CLIENT-ID>-101217-d6e629925b4a85db8fd187bf6634a763__E_G__-64475662","error":"bad_request","status":400,"cause":[]}'
  recorded_at: Thu, 24 Oct 2019 23:50:41 GMT
recorded_with: VCR 5.0.0
