---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/checkout/preferences?access_token=fake_token
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Libra-Upstreamhost:
      - 172.16.161.224
    body:
      encoding: UTF-8
      string: '{"message":"Malformed access_token: null","error":"bad_request","status":400,"cause":[]}'
  recorded_at: Mon, 25 Apr 2016 18:27:48 GMT
recorded_with: VCR 3.0.1
