---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=fake_client_id&client_secret=fake_client_secret&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Type-Option:
      - nosniff
      X-Libra-Upstreamhost:
      - 172.16.149.113
    body:
      encoding: UTF-8
      string: '{"message":"Invalid client_id","error":"bad_request","status":400,"cause":{"code":11,"description":"Invalid
        client_id","data":null}}'
  recorded_at: Mon, 25 Apr 2016 18:27:42 GMT
recorded_with: VCR 3.0.1
